.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.closeButton {
  background: black;
  color: white;
  font-size: 20px;
}
